
a[href*="/resetmypassword/form"]::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 7px;
    vertical-align: -3px;
    background-image: url("/static/custom-assets/password-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
}


a[href*="/project-tracker-sync"]::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 7px;
    vertical-align: -2px;
    background-image: url("/static/custom-assets/sync-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
}

